:root {
  --primary-color: #bf8641;
  --secondary-color: #dfebf2;
  --bg-light: hsl(60, 10%, 6%);
  --bg-dark: #0d0d0d;
}

* {
  font-family: transducer, sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Start Universal Styles */

h1,
h2 {
  color: var(--primary-color);
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 36px;
}

.dark {
  background-color: var(--bg-dark);
}

.light {
  background-color: var(--bg-light);
}
/* End Universal Styles */

/* Start Header Styles */
header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-light);
}

header img {
  height: 50px;
  padding-left: 50px;
}

nav ul li {
  display: inline;
  padding-right: 55px;
  font-size: 1.5vw;
}

nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* End Header Styles */

section {
  display: flex;
  padding: 0 50px;
}

/* Start Intro Styles */
.intro {
  color: var(--secondary-color);
  min-height: 550px;
  align-items: center;
}

.intro-list {
  flex: 2 70%;
  padding-right: 50px;
}

.intro ul li {
  list-style: none;
  font-size: 24px;
  padding-top: 35px;
  border-bottom: 3px solid var(--primary-color);
  width: 75%;
}

.intro h3 {
  font-style: italic;
  font-weight: lighter;
}
/* End Intro Styles */

/* Start Portfolio Styles */
.portfolio {
  flex-wrap: wrap;
  color: var(--secondary-color);
  justify-content: space-between;
}

.project {
  display: flex;
  width: 45%;

  padding: 25px 0;
}

.description {
  flex: 1;
  padding-right: 25px;
}

.preview {
  flex: 1;
}

.preview img {
  width: 100%;
}

.fill-row {
  width: 100%;
  padding-left: 0px;
}
/* End Portfolio Styles */

/* Start Contact Styles */
.contact {
  height: 300px;
  margin: 50px auto 100px auto;
  display: flex;
}

.contact h2 {
  margin-bottom: 35px;
}

.contact-form {
  flex: 2;
}

.contact-form form > * {
  display: block;
}

.contact-form input {
  width: 55%;
  border: none;
  border-bottom: 1px solid var(--bg-dark);
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--bg-light);
}

.contact-form input:focus {
  outline: none;
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.contact-form label {
  visibility: hidden;
}

.social {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.social img {
  height: 50px;
  padding-right: 10px;
}

.contact-link {
  text-decoration: none;
  color: var(--bg-dark);
}

.contact-link:hover {
  color: var(--primary-color);
}

/* End Contact Styles */

/* Footer Styles */
footer {
  background-color: var(--bg-light);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 15px;
}

footer div img {
  height: 50px;
  padding: 0 10px;
}
/* End Footer Styles */
