:root {
  --primary-color: #9080f2;
  --accent-color: #5645c4cc;
  --secondary-color: #dfebf2;
  --bg-light: #0d0d0d;
  --bg-dark: #0d0d0d;
  --gradient-bg: linear-gradient(90deg, rgba(144, 128, 242, 1) 0%, rgba(81, 53, 250, 1) 40%, rgba(40, 5, 255, 1) 100%), var(--bg-light);
  --gradient-reverse-bg: linear-gradient(270deg, rgba(144, 128, 242, 1) 0%, rgba(81, 53, 250, 1) 40%, rgba(40, 5, 255, 1) 100%), var(--bg-light);
}

* {
  font-family: transducer, sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f2f2f2;
}

/* Start Universal Styles */

h1,
h2 {
  color: var(--primary-color);
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 36px;
}

.dark {
  background-color: var(--bg-dark);
}

.light {
  background-color: var(--bg-light);
}
/* End Universal Styles */

/* Start Header Styles */
header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  background: rgb(144, 128, 242);
  background: linear-gradient(90deg, rgba(144, 128, 242, 1) 0%, rgba(81, 53, 250, 1) 40%, rgba(40, 5, 255, 1) 100%), var(--bg-light);
}

header img {
  height: 50px;
  padding-left: 50px;
}

nav ul li {
  display: inline;
  padding-right: 55px;
  font-size: 1.5vw;
}

nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--primary-color);
}

/* End Header Styles */

section {
  display: flex;
  padding: 0 50px 25px 50px;
}

/* Start Intro Styles */
.intro {
  display: flex;
  color: var(--secondary-color);
  min-height: 550px;
  align-items: center;
}

.intro-aboutMe h3 {
  margin-bottom: 10px;
  padding: 0 10px 0 3px;
  background-color: #9080f2;
  width: fit-content;
}

.intro-list {
  padding-right: 50px;
  margin-top: 50px;
  width: 60%;
}

.intro ul li:not(:first-child) {
  font-size: 24px;
  padding-top: 35px;
  border-bottom: 3px solid var(--primary-color);
}

.intro-list li img {
  width: 75%;
  max-height: 300px;
  max-width: 265px;
}

.intro ul li {
  list-style: none;
  /* width: 75%; */
}

.intro h3 {
  font-style: italic;
  font-weight: lighter;
}
/* End Intro Styles */

/* Start Portfolio Styles */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  color: var(--secondary-color);
  justify-content: space-between;
}

.project {
  display: flex;
  width: 49%;
  margin: 25px 0;
  height: 300px;
  overflow: hidden;
}

.description {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.project :hover {
  opacity: 1;
}

.description img {
  width: 100%;
}

.description h2 {
  position: absolute;
  z-index: 9999;
  bottom: 25px;
  left: 25px;
  background: var(--bg-light);
  width: auto;
  padding: 1% 2%;
}

.description h2:hover {
  background: var(--gradient-bg);
  color: var(--secondary-color);
}

.description a {
  text-decoration: none;
  color: inherit;
}

.description a:visited {
  text-decoration: none;
  color: inherit;
}

.cover {
  flex: 1 100%;
  height: 400px;
}

.center {
  height: auto;
  justify-content: center;
  width: 100%;
}

/* End Portfolio Styles */

/* Start Contact Styles */
.contact {
  height: 300px;
  margin: 50px auto 100px auto;
  display: flex;
  justify-content: space-between;
}

.contact h2 {
  margin-bottom: 35px;
}

.contact-social svg:hover {
  fill: var(--primary-color);
}

.contact-form {
  flex: 2;
}

form {
  width: 50%;
}

.contact-form form > * {
  display: block;
}

.contact-form input {
  width: 100%;
  border: none;
  border-bottom: 1.5px solid var(--bg-dark);
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--bg-light);
  background-color: #f2f2f2;
}

.contact-form input:focus {
  outline: none;
  border-bottom: 3px solid var(--primary-color);
  color: var(--primary-color);
}

.contact-form label {
  visibility: hidden;
}

.contact-form button {
  padding: 10px;
  font-size: 18px;
  margin: 15px auto 0 auto;
  border: none;
  color: var(--secondary-color);
  background: var(--primary-color);
}

.contact-form button:hover {
  background: var(--gradient-bg);
}

.social {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.social p {
  padding-left: 10px;
}

.contact-link {
  text-decoration: none;
  color: var(--bg-dark);
}

.contact-link:hover {
  color: var(--primary-color);
}

/* ICONS */
.icon {
  height: 50px;
  width: 50px;
  background-size: cover;
}

.icon-github {
  background-image: url(/assets/images/social-media/github-dark.svg);
}

.icon-github:hover {
  background-image: url(/assets/images/social-media/github-color.svg);
}

.icon-behance {
  background-image: url(/assets/images/social-media/behance-dark.svg);
  fill: var(--bg-dark);
}

.icon-behance:hover {
  background-image: url(/assets/images/social-media/behance-color.svg);
}
.icon-linkedin {
  background-image: url(/assets/images/social-media/linkedin-dark.svg);
  fill: var(--bg-dark);
}

.icon-linkedin:hover {
  background-image: url(/assets/images/social-media/linkedin-color.svg);
}

.icon-instagram {
  background-image: url(/assets/images/social-media/instagram-dark.svg);
  fill: var(--bg-dark);
}

.icon-instagram:hover {
  background-image: url(/assets/images/social-media/instagram-color.svg);
}

/* ICONS */

/* End Contact Styles */

/* Footer Styles */
footer {
  background: var(--gradient-reverse-bg);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 15px;
}

footer div img {
  height: 50px;
  padding: 0 10px;
}
/* End Footer Styles */

/* NEED TO ADD MORE TO INTRO | HOVER TO SHOW 02 03 CONTENT */
